langchain-core
langchain-openai
langchain-chroma
langchain-text-splitters
langchain-classic
langchain-community

openai
chromadb

pydantic
python-dotenv
requests
unstructured
beautifulsoup4

jupyter
ipykernel
